@charset "utf-8";
/* CSS Document */
#container{
	width:1200px;
	height:620px;
	margin:0 auto;
	border-bottom-color:#9CC;
	border:5px #FF3F43 solid;
}
#Leftcontent{
	margin:0 auto;
	height:780px;
	width:280px;
	text-align:left;
	float:left;
}
#RightContent{
	height:788px;
	width:880px;
	float:right;
	margin:5px 8px 5px 5px;
}
#pictureBox{
    width:100%;
    margin: 10px 0 3px 3px;
    height: auto;
    border: solid 3px #FF3F43;
}
